
<p>
<strong>First name:</strong>
<%= @userr.fname %>
</p>
<p>
<strong>Last name:</strong>
<%= @userr.lname %>
</p>
<p>
<strong>Email:</strong>
<%= @userr.email %>
</p>
<p>
<strong>Phone:</strong>
<%= @userr.phone %>
</p> 
<%= link_to 'Back', :back ,class:"btn btn-outline-light btn-lg px-5" %>