<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
<h2 class="fw-bold mb-2 text-uppercase">Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-control-lg">
  <%= f.text_field :fname , class: "form-control form-control-sm" , placeholder:"First name" %>
</div>
<div class="field form-control-lg">
<%= f.text_field :lname , class: "form-control form-control-sm", placeholder:"Last name" %>
</div>
<div class="field form-control-lg">
<%= f.text_field :phone , class: "form-control form-control-sm", placeholder:"Phone Number" %>
</div>
  <div class="field form-control-lg">
    <%= f.email_field :email , class: "form-control form-control-sm", autofocus: true, autocomplete: "email",placeholder: "Email"  %>
  </div>
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field form-control-lg">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password , class: "form-control form-control-sm" , autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, class: "form-control form-control-sm" , autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password , class: "form-control form-control-sm" , autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Update",class:"btn btn-outline-light btn-lg px-5" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete ,class:"btn btn-outline-light btn-lg px-5" %></p>

<%= link_to "Back", :back ,class:"btn btn-outline-light btn-lg px-5"%>
